@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

body {
  margin: 0;
  font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
  background-color: #f6f1eb;
  color: #000000;
  -webkit-font-smoothing: antialiased;
}
